:root {
  --font-size: 16px;
  --font-alkatra: 'Alkatra', cursive;
  --font-normal: 400;
  --font-bold: 700;

  --transition-delay: 0.4s;

  --color-board: hsl(0, 0%, 100%);
  --color-edge: hsl(251, 100%, 6%);

  --color-player-first: hsl(347, 99%, 70%);
  --color-player-second: hsl(40, 100%, 71%);

  --color-background: hsl(257, 100%, 64%);
  --color-floor: hsl(257, 67%, 50%);

  --color-opacity: hsla(0, 0%, 100%, 0);

  --grid-padding: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-alkatra);
  font-size: var(--font-size);
}

@media (max-width: 520px) {
  :root {
    --grid-padding: 2vmin;
  }
}
